footer.footer
  .container
    .footer-row
      .footer-col
        h4 Contact Us
        p 123 Main St.
        p Anytown, USA 12345
        p Phone: (123) 456-7890
        p Email: info@example.com
      .footer-col
        h4 About Us
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rhoncus tellus et felis molestie viverra. Quisque vel ex malesuada, sodales tortor quis, tempor mauris.
    .footer-row
      .footer-col
        h4 Follow Us
        ul
          li
            a(href="#") Facebook
          li
            a(href="#") Twitter
          li
            a(href="#") Instagram
      .footer-col
        h4 Subscribe
        form(action="#" method="post")
          input(type="email" placeholder="Enter your email")
          button(type="submit") Subscribe
    .footer-row
      p © 2023 Example Company. All rights reserved.
