div.banner
  div.banner-item
    a(href="/api/v1/products?category=groceries")
      img(src="https://cdn.pixabay.com/photo/2020/05/25/02/35/groceries-5216715_1280.jpg", alt="Category 1")
      h5 Groceries
  div.banner-item
    a(href="/api/v1/products?category=gou")
      img(src="https://cdn.pixabay.com/photo/2015/11/06/15/39/cows-1029077_1280.jpg", alt="Category 2")
      h5 Gou Products
  div.banner-item
    a(href="/api/v1/products?category=soaps")
      img(src="https://cdn.pixabay.com/photo/2020/02/08/10/35/soap-4829708_1280.jpg", alt="Category 3")
      h5 Soaps
  div.banner-item
    a(href="/api/v1/products?category=squashes")
      img(src="https://cdn.pixabay.com/photo/2018/02/23/19/23/smoothies-3176371_1280.jpg", alt="Category 4")
      h5 Squashes
  div.banner-item
    a(href="/api/v1/products?category=homeProducts")
      img(src="https://cdn.pixabay.com/photo/2017/03/17/10/29/breakfast-2151201_1280.jpg", alt="Category 7")
      h5 Home Products
  div.banner-item
    a(href="/api/v1/products?category=oils")
      img(src="https://cdn.pixabay.com/photo/2015/08/25/03/50/basil-906137_1280.jpg", alt="Category 5")
      h5 Oils
  div.banner-item
    a(href="/api/v1/products?category=sweets")
      img(src="https://cdn.pixabay.com/photo/2017/02/11/14/19/valentines-day-2057745_1280.jpg", alt="Category 6")
      h5 Sweets & Namkeens
  form.search-form(action="/api/v1/products" method="GET")
    input.search-input(type="text" placeholder="Search..." name="keyword")
    button.search-button(type="submit")
      i.fa.fa-search
