doctype html
html
  head
    title My Website
    style 
      include ../components/layout/Overlay/overlay.css
      include ../components/ProductCard/productCard.css
  body
    include ../components/layout/Overlay/overlay.pug
    include ../components/ProductCard/admin-productsCard.pug