doctype html
html
  head
    title My Website
    link(href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css", rel="stylesheet")
    style 
      include ../components/layout/Overlay/overlay.css
      include ../components/recipe/singleRecipeHome.css

  body
    include ../components/layout/Overlay/overlay.pug
    include ../components/recipe/singleRecipeHome.pug
