.wrapper
  form(action="/api/v1/password/forgot", method="POST", id="form")
    h1 Forgot Password?
    .field.email
      .input-area
        input(type="text", placeholder="Email Address", class="email", name="email", required)
        i.icon.fas.fa-envelope
        i.error.error-icon.fas.fa-exclamation-circle
      .error.error-txt Email can't be blank
    input(type="submit", value="Submit")

