nav.sidebar
  ul.sidebarItemList(style="margin-top:40px;")
    li.sidebar-item
      p Products
      ul.sidebar-subitems
        li
          a(href="/api/v1/admin/product/new") Add Product
        li 
          a(href="/api/v1/admin/products") View Products
    li.sidebar-item
      p Orders
      ul.sidebar-subitems
        li
          a(href="/api/v1/admin/orders") View Orders
    li.sidebar-item
      p Users
      ul.sidebar-subitems
        li
          a(href="/api/v1/admin/users") View Users