header
  nav
    button.menu-button
      box-icon(name='menu')
  .overlay
    ul
      li
        h1 Marike's Online Grocery
      div(style="display:flex;")
        li
          a(href='/') Home
        li
          a(href='/api/v1/products') Products
        li
          a(href='/api/v1/recipes') Recipe
        li
          a(href='/api/v1/about') About Us
      if isUserAuthenticated
        if isUserAdmin 
          li 
            a(href="/api/v1/admin/dashboard") Dashboard 
          li 
            a(href="/api/v1/me") Profile 
          li 
            a(href="/api/v1/cart") Cart 
          li 
            a(href="/api/v1/logout") Logout 
          li 
            a(href="/api/v1/orders/me") Order 
        else    
          li 
            a(href="/api/v1/me") Profile
          li 
            a(href="/api/v1/cart") Cart 
          li 
            a(href="/api/v1/orders/me") My Orders
          li 
            a(href="/api/v1/logout") Logout  
      else
        li 
          a(href="/api/v1/login") Login   
      
script.
  // JavaScript for the navbar
  const menuButton = document.querySelector(".menu-button");
  const overlay = document.querySelector(".overlay");

  menuButton.addEventListener("click", () => {
    overlay.classList.toggle("open");
  });

  overlay.addEventListener("click", (event) => {
    if (event.target === overlay) {
      overlay.classList.remove("open");
    }
  });

  document.addEventListener("keydown", (event) => {
    if (event.key === "Escape") {
      overlay.classList.remove("open");
    }
  });
script(src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js")
